
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image:url(../img/o4.jpg);
    background-size: 100% 100%;
    
}
.roboto{
    font-family:Algerian;

}
#header .fixed{
position: fixed;
left: 0;
top: 0;
background-image: url(../img/o3.jpg);
background-size: 100% 100% ;
height: 100vh;
width: 33%;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}   
#header .fixed img{
    width: 59%;
    height:39%;    

}
@media screen and (max-width:768px){
    #header .fixed{
        position: relative;
        background-image: url(../img/o3.jpg);
        background-size: 100% 100% ;
        height: 100vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        }  
}
